.container {
    position: relative;
    z-index: 100;
}

.subcont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding: 1rem;
    
    /* border: red solid; */
}

.pic {
    box-sizing: border-box;
    height: 3rem;
    
    /* margin: 1rem; */
    
    z-index: 10;
    /* border: red solid; */
}

.links {
    width: 100%;
    height: 5rem;
    background-color: var(--black);
    /* padding: 1rem; */

    position: absolute;
    top: 0;
    /* border: red solid; */
    
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
    
    position: fixed;
    color: black;
}

.logocont {
    margin-left: 1rem;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* border: red solid; */
}

.navele {
    color: white;
    font-size: 1.3rem;
    margin: 1rem;
    font-weight: 100;

    position: relative;
}

.navele:after {
    content: '';

    width: 100%;
    height: 1px;

    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;

    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s all;
}

.navele:hover:after {
    height: 1px;
    transform: scaleX(1);
    transition: 0.25s all;
}

@media (max-width: 850px){

    .lines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 0.5rem;

        /* border: red solid; */
        z-index: 10;
        cursor: pointer;

        margin-right: 0.5rem;
        position: fixed;
        top: 1rem;
    }

    .common {
        width: 2rem;
        height: 0.1rem;

        background-color: white;

        margin: 4px;

        transition: all 0.5s;
    }

    .change.line-1 {
        transform: translate(-125%, 420%) rotateZ(150deg);
        width: 0.6rem;
        background-color: white;
        transition: all 0.5s;
    }

    .change.line-2 {
        background-color: white;
        width: 1.5rem;
        transform: translate(-20%);
    }

    .change.line-3 {
        transform: translate(-125%, -420%) rotateZ(-150deg);
        width: 0.6rem;
        background-color: white;
        transition: all 0.5s;
    }

    .links {
        width: 30%;
        height: 100%;
        background-color: black;
        /* padding: 1rem; */

        position: absolute;
        top: 0;
        left: -30%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        opacity: 1;

        transition: all 1s;

        position: fixed;
    }

    .logocont {
        position: absolute;

        /* right: 0.5rem; */
        top: 1rem;
        right: 1rem;
    }

    .pic {
        box-sizing: border-box;
        height: 2.5rem;

        /* margin: 1rem; */

        z-index: 10;
        /* border: red solid; */
    }

    .links-container{
        width: 20vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        /* border: red solid; */
    }

    .change.links {
        left: 0;
        transition: all 1s;
    }

    .navele {
        color: white;
        font-size: 1.3rem;
        margin: 1rem;
        font-weight: 100;

        position: relative;
    }

    .navele:after {
        content: '';

        width: 100%;
        height: 1px;

        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;

        transform: scaleX(0);
        transform-origin: left;
        transition: 0.5s all;
    }

    .navele:hover:after {
        height: 1px;
        transform: scaleX(1);
        transition: 0.25s all;
    }
}

@media (max-width: 775px){
    .logocont {
        top: 1.5rem;
    }

    .pic {
        height: 2rem;
    }

    .navele {
        font-size: 1rem;
    }
}

@media (max-width: 650px){
    .logocont {
        top: 1.7rem;
    }

    .pic {
        height: 1.5rem;
    }

    .navele {
        font-size: 10px;
    }
}

@media (max-width: 575px){
    .logocont {
        right: 0.7rem;
    }

    .pic {
        height: 1rem;
    }

    .navele {
        font-size: 8px;
    }
}

@media (max-width: 400px){
    .logocont {
        right: 0.3rem;
    }

    .pic {
        height: 0.8rem;
    }

    .navele {
        font-size: 7px;
    }
}